root {
    display: block;
}
.root {
    -fx-background-image: url("img/app_background.jpg");
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.title {
    -fx-fill: #FFFFFF;
    -fx-effect: innershadow( three-pass-box , rgba(0,0,0,0.7) , 6, 0.0 , 0 , 2 );
    -fx-font-size: 56px;
}

.scroll-pane, .scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-max-width: 200px;
    -fx-font-size: 16px;
}

.text-id {
    -fx-fill: white;
    -fx-stroke-width: 0;
}

.text {

}

.inputTextField {
    -fx-background-color: white;
    -fx-text-fill: black;
    -fx-font-size: 16px;
    -fx-min-width: 250px;
}

.label {
    -fx-text-fill: white;
}

.button {
    -fx-cursor: hand;
}

.menu_button {
    -fx-background-color: transparent;
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: darkgrey;
    -fx-padding: 0 0 10px 10px;
    -fx-pref-width: 150px;
}

#registerMessage, #loginMessage {
    -fx-font-weight: bold;
}